:root {
  --width: 1680px;

  --huge: 80px;
  --big: 40px;
  --medium: 32px;
  --small: 16px;

  --gutter: var(--medium);

  --dark: black;
  --light: white;
  --muted: rgba(0, 0, 0, 0.25);
  --light-grey: #C2C2C2;
  --grey: #A8A8A8;
  --dark-grey: #696969;
  --highlight: currentColor;
  
  --bleu: #2F73D9;
  --vert: #188507;
  --or: #B46E1C;
  --rouge: #E12E07;

  --bodyfont: 'Basel Grotesk', sans-serif;
  --altfont: 'Basel Grotesk', sans-serif;
}

@media (max-width: 888px) {
  :root {
    --gutter: var(--small);
  }
}

* {
	box-sizing: border-box;

  &:focus {
    outline: none;
  }
}


html {
  font-family: var(--bodyfont);
  font-size: 16px;
  line-height: 1.1875;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: var(--muted);
  // -webkit-scroll-behavior: smooth;
  // scroll-behavior: smooth;

  @media (max-width: 888px) {
    font-size: 14px;
  }
}

html.noscroll {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  transition: color 333ms, background-color 333ms;
}

main {
  // min-height: 100vh;

  @media (max-width: 888px) {
    margin-top: 6rem;
  }
}

@mixin text($size, $lh, $ls: 0) {
  font-size: $size;
  font-weight: normal;
  line-height: $lh;
  letter-spacing: $ls;
}

.d1 {
  @include text(72px, 80px);
  @media (max-width: 888px) {
    @include text(39px, 44px, -0.02em);
  }
}

.d2 {
  @include text(60px, 68px);
  @media (max-width: 888px) {
    @include text(39px, 44px, -0.02em);
  }
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0 0 1rem;
  white-space: pre-line;
}

h1, .h1 {
  @include text(48px, 56px);
  @media (max-width: 888px) {
    @include text(23px, 28px, -0.02em);
  }
}

h2, .h2 {
  @include text(39px, 44px, -0.02em);
  @media (max-width: 888px) {
    @include text(23px, 28px, -0.02em);
  }
}

h3, .h3 {
  @include text(33px, 40px, -0.02em);
  @media (max-width: 888px) {
    @include text(28px, 34px, -0.02em);
  }
}

h4, .h4 {
  @include text(28px, 34px, -0.02em);
  @media (max-width: 888px) {
    @include text(23px, 28px, -0.02em);
  }
}

h5, .h5, .h5 > p {
  @include text(23px, 28px, -0.02em);
  @media (max-width: 888px) {
    @include text(16px, 19px);
  }
}

h6, .h6 {
  @include text(18px, 23px, -0.02em);
}

.sh {
  @include text(20px, 24px);
}

p, .p1 {
  @include text(14px, 17px);
}

.p2 {
  @include text(16px, 19px);
}

.p3 {
  @include text(18px, 22px);
}

small, .small {
  @include text(12px, 14px, 0.02em);
}

a {
  color: currentColor;
  text-decoration: none;

  p > a {
    text-decoration: underline;
  }
}

button,
a.button {
  display: inline-flex;
  align-items: center;
  font-family: var(--bodyfont);
  column-gap: var(--small);

  cursor: pointer;
  color: currentColor;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: 1px solid;
  border-radius: 2em;
  transition: border-radius 666ms;
  padding: 0.5em 0.75em;

  &.button--tight {
    padding: 0.25em 0.66em;
    border-radius: 1em;
  }

  &:hover,
  &:focus {
    border-radius: 0;
  }
}

svg {

  path,
  line {
    fill: currentColor;
  }
}

[id] {
  scroll-margin-top: var(--gutter);
}

.sticky {
  position: sticky;
  top: var(--gutter);
}

.center {
  text-align: center;
}

.grid {
  display: grid;
  --gap: var(--medium);
  column-gap: var(--gap);
  row-gap: calc(var(--gap) / 2);
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 888px) { grid-template-columns: repeat(1, 1fr); }

  &.grid--nogap { --gap: 0%; }
  &.grid--supertight { --gap: 4px; }
  &.grid--tight { --gap: var(--small); }
  &.grid--thick { --gap: var(--big); }

  &.grid--sixths {
    grid-template-columns: repeat(6, 1fr);
    @media (max-width: 888px) { grid-template-columns: repeat(1, 1fr); }
  }

  &.grid--thirds {
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 888px) { grid-template-columns: repeat(1, 1fr); }
  }

  &.grid--halves {
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 888px) { grid-template-columns: repeat(1, 1fr); }
  }

  .span__2 {
    grid-column: span 2;
  }
}

.flex {
  display: flex;
  flex-wrap: nowrap;

  --gap: var(--medium);
  column-gap: var(--gap);
  row-gap: calc(var(--gap) / 2);

  &.flex--nogap { --gap: 0%; }
  &.flex--supertight { --gap: 4px; }
  &.flex--tight { --gap: var(--small); }
  &.flex--thick { --gap: var(--big); }

  &.flex--wrap {
    flex-wrap: wrap;
  }

  &.flex--middle {
    align-items: center;
  }

  &.flex--spaced {
    justify-content: space-between;
  }

  &.flex--center {
    justify-content: center;
  }

  &.flex--end {
    justify-content: flex-end;
  }

  .flex__half {
    width: calc((100% / 2) - var(--gap));
  }

  .flex__third {
    width: calc((100% / 3) - var(--gap));
    @media (max-width: 888px) { width: 100%; }
  }

  .flex__fourth {
    width: calc((100% / 4) - var(--gap));
  }

  .flex__sixth {
    width: calc((100% / 6) - var(--gap));

    @media (max-width: 888px) { width: calc((100% / 3) - var(--gap)); }
  }

  .flex__seventh {
    width: calc((100% / 7) - var(--gap));
  }
}

.padded {
  padding: var(--gutter);

  &.padded--vertical { padding-left: 0; padding-right: 0; }
}